body {
	background-color: rgb(149, 158, 158);
}

.weather-container {
	text-align: center;
}

.weather {
	font-size: 22px;
	margin: 0;
}

.temp {
	font-size: 60px;
	margin: 0;
}

.temp {
	font-size: 60px;
	margin: 0;
	font-weight: bold;
}
